<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <title>Imposter</title>
  <script>
    function validateForm(){
      const numOfPlayers = document.querySelector('input[name="num_of_players"]').value;
      const numOfImposters = document.querySelector('input[name="num_of_imposters"]').value;
      const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
      if (numOfImposters >= numOfPlayers) {
        alert("Number of imposters must be less than the number of players.");
        return false;
      }else if (checkboxes.length == 0) {
        alert("Must select at least 1 category.");
        return false;
      }
      return true;
    }

    
    
  </script>
</head>
<body>
  <h1>Welcome to imposter!</h1>
  <form id="form" method="post" onsubmit="return validateForm()">
    <p><input type="number" name="num_of_players" placeholder="Enter the number of players" min ="3" max="10" required></p>
    <p><input type="number" name="num_of_imposters" placeholder="Enter the number of imposters" min="1" max="10" required></p>
    <!-- add a list and iterate over it from app-->
    <div class="category-container">
      {% for category in categories: %}
        <label>
          <input type="checkbox" name="category" value="{{ category }}">
          {{ category }}
        </label>
      {% endfor %}
    </div>
    <p><button type="submit">Submit</button></p>
  </form>
  {% if result%}
    <p>Result: {{ result }}</p>
  {% endif %}
</body>
</html>
