<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <title>Imposter</title>
  
</head>
<body>
  <h1>Welcome to imposter!</h1>
  <form method="post">
    <p>Number of Players: <input type="number" name="num_of_players" min="1" max="10" step="1" placeholder="Enter the # of players" required></p>
    <p>Number of Imposters: <input type="number" name="num_of_imposters" min="1" max="10" step="1" placeholder="Enter the number of imposters" required></p>
    <!-- add a list and iterate over it from app-->
    <p>Please Select One or Multiple of the Following Categories (cmd+click for multi-select): </p>
    <p><select name="category" id="category" multiple>
      {% for category in categories: %}
        <option value="{{ category }}">{{ category }}</option>
      {% endfor %}
    </select></p>
    <p><button type="submit">Submit</button></p>
  </form>
  {% if result%}
    <p>Result: {{ result }}</p>
  {% endif %}
</body>
</html>
