<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body>
    <h1>ImposterWLL</h1>
    <h2>Select a mode:</h2>
    <form method="post">
        <input type="radio" name="mode" id="classic" value="classic" onclick="show_description('disc-classic')">
        <label for="classic">Classic</label>
        <div class="description" id="disc-classic">
            In Classic Mode, one or more players are chosen as imposters and are not given the secret word. The goal for the group is to identify and vote out the liar, while the imposter must bluff and blend in to win.
            During the game: Each player takes turns saying a word associated with the secret word. At the end of the round, players vote on who they believe the imposter is.
            After the game: If a normal player (citizen) is voted out, the imposter wins. If the imposter is voted out, they have one chance to guess the secret word.
        </div>
        <input type="radio" name="mode" id="chaos" value="chaos" onclick="show_description('disc-chaos')">
        <label for="chaos">Chaos</label>
        <div class="description" id="disc-chaos">
            Similar to the classic mode, but with a random number of imposters.
        </div>
        <button type="submit">Start</button>
    </form>
    <script>
        function show_description(id) {
            const description = document.querySelectorAll('.description');
            description.forEach(desc=> {
                desc.style.display = 'none';
            });

            const selected = document.getElementById(id);
            selected.style.display = 'block';
        }
    </script>
</body>
</html>
