<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"> <!-- Link to mayber different CSS file -->
  <title>Player Names</title>
</head>
<body>
  <h1>Player Names</h1>
  <form method="POST">
    <p><label for="player_names">Enter Player Names:</label></p>
    {% for i in range(game_info['num_of_players']) %} <!-- placeholder -->
      <input type="text" name="player_name_{{i+1}}" placeholder="Player {{i+1}}" required><br>
    {% endfor %}
    <p><button type="submit">Start Game</button></p>
  </form>
</body>


</html>

